@import "tailwindcss";

@media print {
  @page {
    size: auto;
    margin: 10mm 8mm 10mm 8mm;
  }

  body {
    background-color: white !important;
    color: black !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  tr {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
}
